body {
  padding-top: 60px;
  font-family: 'Courier New', monospace;
  text-align: center;
}

#target {
  font-size: 60px;
  letter-spacing: 5px;
}

#score {
  color: #1E90FF;
}

#miss {
  color: #FF4500;
}

#timer {
  color: #3CB371;
}

.info {
  font-size: 24px;
  color: #696969;
}
